<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 관리 시스템</title>
</head>
<body>
    <div>
        <h1><a href="/">회원 관리</a></h1>
        <hr>
        <h2>회원 목록</h2>
        <button onclick="location.href = '/members/add'">신규 회원 등록</button>
        <ul>
            <li th:each="m : ${members}">
                <span th:text="${m.memberId}"></span>
                <span th:text="${m.name}"></span>
            </li>
        </ul>
        <p th:if="${#lists.isEmpty(members)}">
            등록된 회원이 없습니다
        </p>
        <hr>
        <footer>
            2025년 인프라 반
        </footer>
    </div>
</body>
</html>